body{
   background-color: black;
}

.container-fluid{
    text-align: center;
    color: #F4D73A;
    font-size: larger;
    font-family: "rufina";
}
#nav li a{
    color:  #F4D73A !important;
    
    

}
#nav li a:hover{
    color: white !important;
}
.col-md-5{
    color:  #F4D73A !important;
    margin-top: 15%;
    font-size: 2em;
    font-style: italic;
    font-family: "rufina";

}
#order-now{
    margin-left: 30%;
}